{% extends './layout.html' %}

{% block results %}
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{test.title}}</li>
</ul>
<div class="col-md-8">
<h1> {{test.title}}</h1>
<p> last updated on {{test.updated}}</p>
{{test.question_count}}/{{test.question_limit}}
<div class="progress progress-striped active">
    <div class="progress-bar" style="width: {{test.remaining_count}}%"></div>
</div>
</div>

<div class="col-md-8">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>id</th>
      <th>Question</th>
      <th>Created on</th>

    </tr>
  </thead>
  <tbody>
     {% for q in questions %}
    <tr>
      <td>{{q.pk}}</td>
      <td>{{q.question}}</td>
      <td>{{q.created}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div>
{% endblock %}
