{% extends './layout.html' %}

{% block results %}
<div class="col-md-8">
    <h2>Create question </h2>
    <div class="col-md-8">
        <form action="#">
    <div class="form-group">
        <label class="control-label" for="focusedInput">Question</label>
        <input type="text" class="form-control input-lg" id="inputDefault" placeholder="" name="question">
    </div>
    <div class="form-group">
        <label class="control-label" for="focusedInput">Test id</label>
        <input type="text" class="form-control input-lg" id="inputDefault" value="{{test_pk}}" name="test" disabled>
    </div>

    <h3>Add options</h3>
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control" name="add-options">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="AddNewOption()">Add</button>
        </span>
      </div>
    </div>

    <h3> Options </h3>
      <div id="options">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </div>
</div>

<div class="col-md-4">
    <div id="response-alert"></div>
</div>

<script>
var options=[]
function AppendOption(option,index){
    var newOption= ' \
    <div class="radio">\
      <label>\
        <input type="radio" name="optionsRadios" id="optionsRadios2" value="'+index +'">'+ option +'</label>\
    </div>'
    $( "#options" ).append(newOption);
}
function AddNewOption(){
     var newOption= $("input[name=add-options]").val();
     if (newOption !== ''){
        options.push({"option":newOption})
        $("input[name=add-options]").val("");
        AppendOption(newOption,options.length-1)
     }
}
function Notity(success,message){
    var notification= '\
    <div class="alert alert-dismissible alert-success">\
    <button type="button" class="close" data-dismiss="alert">&times;</button>\
    <strong>Well done!</strong> You successfully added question <a href="#" class="alert-link">'+ message +'</a>.\
    </div>'
    $("#response-alert").append(notification);
}
$( "form" ).submit(function( event ) {
    event.preventDefault();
    var question= $("input[name=question]").val();
    var test= $("input[name=test]").val();
    var correctAnswer= $('input[name=optionsRadios]:checked', '.radio').val()
    var testdata={
        "question":question,
        "options":options,
        "test":test,
        "correct_answer": correctAnswer
    }
    $.ajax({
        "async": true,
        "crossDomain": true,
        "url": "/api/quiz/",
        "method": "POST",
        "headers": {
            "content-type": "application/json",
        },
        data:JSON.stringify(testdata),
        success:function(res){
            if(res.status=201)
                Notity(true, res.question)
        },
        error:function(msg){
            Notity(false)
        }
    });
})
</script>
{% endblock %}
